<div class="column home-wrapper">
  <!-- ➕ Dodaj produkt (tylko np. admin) -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="homeCtrl.openAdd()"
    label="Add Product"
    class="add-product-btn addbutton"
  ></button>

  <!-- 🧾 Lista produktów -->
  <div class="row wrap gap-1 space-around product-section">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (delete)="deleteProduct(product.id!)"
      (edit)="homeCtrl.openEdit(product)"
    ></app-product>
  </div>

  <!-- 📄 Paginator -->
  <p-paginator
    #paginator
    class="paginator"
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
  ></p-paginator>
</div>

<app-product-form
  [(visible)]="homeCtrl.displayPopup"
  [product]="homeCtrl.selectedProduct"
  [mode]="homeCtrl.popupMode"
  (submit)="onPopupConfirm($event)"
  (cancel)="homeCtrl.cancelPopup()"
/>
